@import 'blocks/social-media-icons/social-media-icons';
@import 'blocks/logo/logo';
@import 'blocks/header/header';

$montserrat: 'Montserrat', sans-serif;
$audiowide: 'Audiowide', cursive;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$white: #ffffff;

$top-layer: 10;
$medium-layer: 5;
$bottom-layer: 1;
$background-layer: 0;

$slide-max-width: 1440px;

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: $montserrat;
  font-weight: $regular;
  font-size: 10px;
  color: $white;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  z-index: $background-layer;
}

.container {
  width: 100%;
  position: relative;
  z-index: $bottom-layer;
}

/* SLIDE */

.slide {
  width: $slide-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

	&--first-slide {
    height: 900px;
	}

  &--second-slide {
    height: 900px;
  }

	&__inner {
    width: 100%;
    z-index: $top-layer;

    &--first-slide {
      max-width: 1275px;
      min-height: 720px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--second-slide {
      max-width: 1275px;
      min-height: 720px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
	}

	&__content {
    width: 100%;

		&--first-slide {
      max-width: 1200px;
      height: 546px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
		}

    &--second-slide {
      max-width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
		}
	}

	&__text-info {

	  &--first-slide {
      width: 100%;
      max-width: 510px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
		}

    &--second-slide {
      width: 100%;
      max-width: 470px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
		}
	}

	&__title {

		&--first-slide {
      font-family: $audiowide;
      font-size: 10.374rem;
      line-height: 9.686rem;
		}

    &--second-slide {
      font-family: $audiowide;
      font-size: 5.41rem;
      line-height: 6.181rem;
		}
	}

	&__subtitle {

		&--first-slide {
      font-weight: $medium;
      font-size: 5.836rem;
		}

    &--second-slide {
      font-weight: $medium;
      font-size: 3.662rem;
		}
	}

	&__description {

		&--first-slide {
      font-weight: $medium;
      font-size: 2.631rem;
		}

    &--second-slide {
      margin-top: 50px;
      font-weight: $medium;
      font-size: 2.5rem;
		}
	}

	&__button {

		&--first-slide {
      width: 100%;
      max-width: 280px;
      height: 55px;
      font-size: 2.76rem;
      line-height: 2.76rem;
      color: $white;
      background-color: transparent;
      text-align: center;
      padding: 12px 27px;
      border: 1px solid $white;
      display: inline-block;
      border-radius: 30px / 50%;
      cursor: pointer;
		}
	}

	&__picture {

		&--first-slide {
		}
	}
}

::placeholder {
  font-family: $montserrat;
  font-weight: $medium;
  font-size: 2.186rem;
  color: $white;
}