.social-media-icons {
  width: 100%;
  max-width: 145px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.social-media-icons__link {
  display: inline-block;
}
.social-media-icons__img {
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  cursor: pointer;
}

.header {
  width: 100%;
  max-width: 1275px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  width: 100%;
  min-width: 400px;
  max-width: 575px;
}
.header__list-of-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list-item {
  display: inline-block;
}
.header__one-link {
  font-weight: 500;
  font-size: 2.186rem;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.2s;
}
.header__one-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #ffffff;
}
.header__search {
  max-width: 300px;
  max-height: 40px;
  font-weight: 500;
  font-size: 2.186rem;
  color: #ffffff;
  background-color: transparent;
  text-align: end;
  padding: 12px 27px;
  border: 1px solid #ffffff;
  border-radius: 20px/50%;
  outline: none;
}
.header ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.186rem;
  color: #ffffff;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  z-index: 0;
}

.container {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* SLIDE */
.slide {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide--first-slide {
  height: 900px;
}
.slide__inner {
  width: 100%;
  z-index: 10;
}
.slide__inner--first-slide {
  max-width: 1275px;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slide__content {
  width: 100%;
}
.slide__content--first-slide {
  max-width: 1200px;
  height: 546px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slide__text-info--first-slide {
  width: 100%;
  max-width: 510px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slide__title--first-slide {
  font-family: "Audiowide", cursive;
  font-size: 10.374rem;
  line-height: 9.686rem;
}
.slide__subtitle--first-slide {
  font-weight: 500;
  font-size: 5.836rem;
}
.slide__description--first-slide {
  font-weight: 500;
  font-size: 2.631rem;
}
.slide__button--first-slide {
  width: 100%;
  max-width: 280px;
  height: 55px;
  font-size: 2.76rem;
  line-height: 2.76rem;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  padding: 12px 27px;
  border: 1px solid #ffffff;
  display: inline-block;
  border-radius: 30px/50%;
  cursor: pointer;
}
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.186rem;
  color: #ffffff;
}

/*# sourceMappingURL=index.css.map */
