@import 'blocks/social-media-icons/social-media-icons';
@import 'blocks/logo/logo';
@import 'blocks/header/header';

$montserrat: 'Montserrat', sans-serif;
$audiowide: 'Audiowide', cursive;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$white: #ffffff;

$top-layer: 10;
$medium-layer: 5;
$bottom-layer: 1;
$background-layer: 0;

$slide-max-width: 1440px;

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: $montserrat;
  font-weight: $regular;
  font-size: 10px;
  color: $white;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  z-index: $background-layer;
}

.container {
  width: 100%;
  position: relative;
  z-index: $bottom-layer;
}

/* SLIDE */

.slide {
  width: $slide-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

	&--first {
    height: 900px;
	}

	&__inner {
    width: 100%;
    z-index: $top-layer;

    &--first {
      max-width: 1275px;
      min-height: 720px;
    }
	}
}

::placeholder {
  font-family: $montserrat;
  font-weight: $medium;
  font-size: 2.186rem;
  color: $white;
}

.smart-home-button-style {
  border-radius: 20px;
}